<suite name="Regression Testing" verbose="1">
    <listeners>
        <listener class-name="listeners.RetryListener"/>
    </listeners>
    <test name="Regression Tests">
        <classes>
            <class name="test.LoginTest"/>
            <class name="test.MakeAppointmentTest"/>
        </classes>
    </test>
</suite>